:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  
  --primary-background: #f7eec0;
  --secondary-background: #ecddb8;
  --dark-green: #88ad79;
  --light-green: #b0d4a2;
  --dark-pink: #c9a2d4;
  --light-pink: #e7d0ee;

  --header-height: 135px;

  --vericalLine-width: 7px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

