.aboutUs {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--primary-background);
    position: relative;
}

.aboutUs__title{
    margin: 0;
    font-family: "Roboto Condensed";
    color: white;
    font-size: 5.5rem;
    margin: 4rem 0 3rem 0;
}

.aboutUs__column {
    display: flex;
    width: 55%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#aboutUs__firstRight {
    margin-top: 35rem;
}

.aboutUs__itemRight {
    justify-content: start !important;
}

.aboutUs__item{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin: 4rem 0 6rem 0;
}

.aboutUs__textOutsideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--light-green) 5px;
    border-radius: 100%;
    width: 40%;
    max-width: 540px;
    background-color: var(--light-green);
    aspect-ratio: 1 / 1;
    margin: 0 5% 0 5%;
}

.aboutUs__horizontalLine {
    background-color: var(--light-green);
    height: var(--vericalLine-width);
    width: 15%;
}

.aboutUs__textInsideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--dark-green) 5px;
    border-radius: 95%;
    width: 100%;
    margin: 2%;
    background-color: var(--dark-green);
    aspect-ratio: 1 / 1;
}

.aboutUs__text{
    margin: 15%;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 500;
}

.aboutUs__verticalLine {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--vericalLine-width);
    height: 100%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: var(--light-green);
}


