.welcome {
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/167698/pexels-photo-167698.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.welcome__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: calc(100vh - var(--header-height));
    transform: translate(0px, var(--header-height));
}

.welcome__titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.welcome__arrowDownContainer {
    margin-bottom: -3px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: column nowrap;
}

.welcome__title{
    margin: 0;
    font-size: 150px;
}

.welcome__arrowDownSurrounding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
    border-radius: 100%;
    border: solid var(--light-green) 3.5px;
    height: 3.2rem;
    width: 3.2rem;

}

.welcome__arrowDownSurrounding:hover {
    cursor: pointer;
}

.welcome__arrowDownIcon {
    font-size: 2.4rem;
    stroke-width: 0;
    color: var(--light-green);

}

#welcome_arrowDownSurroundingHovering {
    animation: bounce 0.7s ease-in-out infinite alternate;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
    }
}

.welcome__verticalLine {
    width: var(--vericalLine-width);
    height: 15%;
    background-color: var(--light-green);
    transform: translateY(-1px);
}