.placeHolderWithEmptyCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    background-color: var(--primary-background);
}

.placeHolderWithEmptyCircle__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid var(--light-green) 4px;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--light-green);
}