.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: var(--header-height);
    position: relative;
    z-index: 1;
}

#homePageHeader {
    background-color: transparent;
}

#defaultHeader {
    background-image: url("https://images.pexels.com/photos/167698/pexels-photo-167698.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}





