.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid transparent;
    background-color: var(--light-green);
}

.header__navbarContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 85vw;
    justify-content: space-between;
    max-width: 2500px;
}

.header__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__logoBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    transform: translate(0px, 65px);
    background-color: var(--light-green);

}

.header_logoPlaceholder {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    background-color: white;
}

.header__navLinkContainer {
    display:flex;
    gap: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navLink {
    margin: 0;
    font-family: "Roboto Condensed";
    font-size: 1.95rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.navLink--isActive {
    text-decoration: overline;
}

.header__logoContainer {
    display: flex;
    align-items: center;
}